<!--=== Content ===-->
<div class="container">
    <div class="row margin-bottom-60"></div>
    <!-- Service Box -->
    <div class="row text-center margin-bottom-60">
        <div class="col-md-4 md-margin-bottom-50 services-icons">
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#archaeologyModal">
              Launch demo modal
            </button>
            <button type="button" class="btn btn-default" aria-label="Archaeology" data-toggle="modal" data-target="#archaeologyModal">
              <i class="icon-sh_archaeology"></i>
            </button>
            <h1 class="title-v3-md margin-bottom-10">Archaeology</h1>
        </div>

        <div class="col-md-4 md-margin-bottom-50 services-icons">
            <i class="icon-sh_metal"></i>
            <h1 class="title-v3-md margin-bottom-10">Metal</h1>
        </div>

        <div class="col-md-4 md-margin-bottom-50 services-icons">
            <i class="icon-sh_painting"></i>
            <h1 class="title-v3-md margin-bottom-10">Painting</h1>
        </div>

        <div class="col-md-4 md-margin-bottom-50 services-icons">
            <i class="icon-sh_stainedglass"></i>
            <h1 class="title-v3-md margin-bottom-10">Stained Glass</h1>
        </div>

        <div class="col-md-4 md-margin-bottom-50 services-icons">
            <i class="icon-sh_stone"></i>
            <h1 class="title-v3-md margin-bottom-10">Stone</h1>
        </div>

        <div class="col-md-4 md-margin-bottom-50 services-icons">
            <i class="icon-sh_wood"></i>
            <h1 class="title-v3-md margin-bottom-10">Wood</h1>
        </div>
    </div>
    <!-- End Service Box -->
</div>
<!--/container -->
