<!--=== Content ===-->
<div class="content-md">
  <div class="container">
    <!-- Service Box -->
    <div class="row text-center margin-bottom-60">
      <div class="col-md-4 md-margin-bottom-50 services-icons">
        <i class="icon-sh_archaeology"></i>
        <h1 class="title-v3-md margin-bottom-10">Archaeology</h1>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cur modo, tortor mauris con</p>
      </div>

      <div class="col-md-4 md-margin-bottom-50 services-icons">
        <i class="icon-sh_metal"></i>
        <h1 class="title-v3-md margin-bottom-10">Metal</h1>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cur modo, tortor mauris con</p>
      </div>

    <div class="col-md-4 md-margin-bottom-50 services-icons">
      <i class="icon-sh_painting"></i>
      <h1 class="title-v3-md margin-bottom-10">Painting</h1>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cur modo, tortor mauris con</p>
    </div>

    <div class="col-md-4 md-margin-bottom-50 services-icons">
      <i class="icon-sh_stainedglass"></i>
      <h1 class="title-v3-md margin-bottom-10">Stained Glass</h1>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cur modo, tortor mauris con</p>
    </div>

    <div class="col-md-4 md-margin-bottom-50 services-icons">
      <i class="icon-sh_stone"></i>
      <h1 class="title-v3-md margin-bottom-10">Stone</h1>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cur modo, tortor mauris con</p>
    </div>

    <div class="col-md-4 md-margin-bottom-50 services-icons">
      <i class="icon-sh_wood"></i>
      <h1 class="title-v3-md margin-bottom-10">Wood</h1>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cur modo, tortor mauris con</p>
    </div>
  </div>
    <!-- End Service Box -->
  </div><!--/container -->
