/* Add here all your css styles (customizations) */
@import url(sh_font.css);

.interactive-slider-v2.img-digital-heritage {
  background: url(../img/sliders/virtual_reconstruction.jpg) no-repeat;
  background-size: cover;
}

.interactive-slider-v2.img-conservation {
  background: url(../img/sliders/conservation_web.jpg) no-repeat;
  background-size: cover;
}

.interactive-slider-v2.img-training {
  background: url(../img/sliders/training.jpg) no-repeat;
  background-size: cover;
}

.bg-image-digital-heritage {
  background: url(../img/sliders/virtual_reconstruction.jpg) repeat fixed;
}

.bg-image-conservation {
  background: url(../img/sliders/conservation_web.jpg) repeat fixed;
}

.bg-image-training {
  background: url(../img/sliders/training.jpg) repeat fixed;
}

.parallaxBg:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
}

.parallaxBg {
  width: 100%;
  height: auto;
  padding: 50px 0;
  position: center center;
  background-size: cover;
}

.parallaxBg h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 600;
  line-height: 80px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 768px) {
  .parallaxBg h1 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 20px;
  }

  .paralaxText blockquote {
  	font-size: 44px;
  	line-height: 44px;
	}
}

.icon-block {
  display:block;
}

.services h1 {
  display: block;
  color: #000;
  font-size: 3em;
  font-weight: 600;
  line-height: 80px;
  text-transform: uppercase;
  text-align: left;
}

.services i {
  padding-right: 1em;
}

.services-icons {
  margin-bottom: 50px;
}

.services-icons i {
  font-size: 7em;
}

.services-icons h1 {
  margin-top: 35px;
  font-weight: 600;
  text-transform: uppercase;
}

/* PARALLAX STUFF
================================================== */
.parallaxBg {
	width:100%;
	background-repeat: no-repeat;
	background-attachment:scroll;
	background-size: cover;
	background-position: top center;
}



.maskParent{position: relative; height:100%;width:100%}
.paralaxText {
	padding-top:66px;
	padding-bottom:66px;
	text-align:center;
	position: relative;

}
.paralaxMask {width:100%; height:100%;overflow:hidden;position:absolute;background:rgba(0,0,0,0.15);}

/*** MEDIA QUERIES ***/

@media(max-width:767px){}

@media(min-width:768px){}

@media(min-width:992px){}

@media(min-width:1200px){

	.parallaxBg {
		background-attachment: fixed;
		background-position: 50% 0;
		background-size: cover;
	}


}
/*** END MEDIA QUERIES ***/


/* END PARALLAX STUFF
================================================== */

.justified {
  text-align: justify;
}
