<!--=== Footer Version 1 ===-->
<div class="footer-v1">
  <div class="footer">
    <div class="container">
      <div class="row">
        <!-- About -->
        <div class="col-md-4 md-margin-bottom-40">
          <a href="index.html"><img id="logo-footer" class="footer-logo" src="assets/img/logos/SH_web_logo_3_blanco.png" alt=""></a>
        </div><!--/col-md-3-->
        <!-- End About -->
        <!-- Link List -->
        <!-- <div class="col-md-3 md-margin-bottom-40">
          <div class="headline"><h2>Useful Links</h2></div>
          <ul class="list-unstyled link-list">
            <li><a href="/services.html">Services</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">About us</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Contact us</a><i class="fa fa-angle-right"></i></li>
          </ul>
        </div> -->
        <!--/col-md-3-->
        <!-- End Link List -->
        <div class="col-md-4 md-margin-bottom-40">
          <div class="headline"><h2>Work With Us</h2></div>
          <address class="md-margin-bottom-40">
          <p>Are you passionate about heritage, conservation, and technology? We want to hear from you!</p>
          <p>Please get in contact with us.</p>
        </address>
        </div>
        <!-- Address -->
        <div class="col-md-4 map-img md-margin-bottom-40">
          <div class="headline"><h2>Contact Us</h2></div>
          <address class="md-margin-bottom-40">
            <!-- Floor 1 86A <br/>
            Constituion Street <br/>
            Edinburgh EH6 6RP <br/> -->
            86A Constitution Street<br/>
            Floor 1<br/>
            Edinburgh EH6 6RP<br/>
            United Kingdom<br/>
            Phone: +44 (0) 131 454 3679<br/>
            Email: <a href="mailto:info@spectrumheritage.com" class="">info@spectrumheritage.com</a>
          </address>
        </div><!--/col-md-3-->
        <!-- End Address -->
      </div>
    </div>
  </div><!--/footer-->

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>
            2017 &copy; All Rights Reserved.
          </p>
        </div>

        <!-- Social Links -->
        <div class="col-md-6">
          <ul class="footer-socials list-inline">
            <li>
              <a href="https://twitter.com/spectrumdh" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/spectrumheritage/" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- End Social Links -->
      </div>
    </div>
  </div><!--/copyright-->
</div>
<!--=== End Footer Version 1 ===-->
