<div class="cbp-item heritage">
  <div class="cbp-caption">
    <div class="cbp-caption-defaultWrap">
      <img src="assets/img/grid/dh_11.jpg" alt="">
    </div>
    <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignCenter">
        <div class="cbp-l-caption-body">
          <ul class="link-captions">
            <li><a href="assets/img/grid/dh_11.jpg" class="cbp-lightbox"><i class="rounded-x fa fa-search"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
