<div class="cbp-item heritage">
  <div class="cbp-caption">
    <div class="cbp-caption-defaultWrap">
      <img src="assets/img/grid/dh_7.jpg" alt="">
    </div>
    <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignCenter">
        <div class="cbp-l-caption-body">
          <ul class="link-captions">
            <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
            <li><a href="assets/img/grid/dh_7.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
          </ul>
          <div class="cbp-l-grid-agency-title">Design Object 01</div>
          <div class="cbp-l-grid-agency-desc">Web Design</div>
        </div>
      </div>
    </div>
  </div>
</div>
