<!--=== Parallax About Block ===-->
<div>
	<div class="container content parallax-about">
		<div class="title-box-v2">
			<h2>About <span class="color-green">us</span></h2>
			<p class="justified">Our interdisciplinary team have backgrounds in conservation, archaeology, and computer science; later specialising in digital applications in the heritage field. We come to heritage first through the lens of our <b class="color-green">Traditional Skills</b>, giving us a unique perspective and the ability to ask how <b class="color-green">Digital Heritage</b> can help us to preserve, conserve, develop, and manage our <b class="color-green">Cultural Heritage</b>.</p>
		</div>

		<div class="row">
			<div class="col-md-8">
				<div class="banner-info dark margin-bottom-10">
					<i class="rounded-x fa fa-check-circle"></i>
					<div class="overflow-h">
						<h3>What do we do?</h3>
							<li>We use <b class="color-green">traditional skills</b> and <b class="color-green">innovative techniques</b> to record, preserve, and disseminate cultural heritage.</li>
							<li>We provide specialist <b class="color-green">training</b> to <b class="color-green">share knowledge</b> with heritage professionals and community groups.</li>
					</div>
				</div>
				<div class="banner-info dark margin-bottom-10">
					<i class="rounded-x fa fa-globe"></i>
					<div class="overflow-h">
						<h3>What is our philosophy?</h3>
							<li>Technology should be at the <b class="color-green">service of heritage</b>, and not the other way around.</li>
							<li>We are <b class="color-green">passionate</b> about what we do, therefore, we are constantly pushing ourselves to <b class="color-green">learn</b> new skills and <b class="color-green">improve</b> the ones we already have.</li>
							<li>We are committed to the <b class="color-green">best practises</b> and international <b class="color-green">standards</b> that encourage long-term preservation and <b class="color-green">reusability</b> of data.</li>
							<li>We believe that <b class="color-green">communities</b> are key for the long-term preservation of their local heritage.</li>
					</div>
				</div>
				<div class="banner-info dark margin-bottom-10">
					<i class="rounded-x fa fa-briefcase"></i>
					<div class="overflow-h">
						<h3>Why collaborate with us?</h3>
							<li>Thanks to our blend of skills we have a <b class="color-green">unique approach</b>, employing a holistic metholodogy for the conservation and preservation of tangible heritage.</li>
							<li>As conservators, we pay careful <b class="color-green">attention to detail</b>, ensuring the highest quality work that we can achieve.</li>
					</div>
				</div>
				<div class="margin-bottom-20"></div>
			</div>
			<!-- <div class="col-md-4">
				<img class="img-responsive" src="assets/img/mockup/1.png" alt="">
			</div> -->
      <div class="col-md-4 hidden-xs">
        <a class="twitter-timeline" href="https://twitter.com/SpectrumDH" data-height="350px">Tweets by SpectrumDH</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
		</div>
	</div><!--/container-->
</div>
<!--=== End Parallax About Block ===-->
