<!--=== Parallax About Block ===-->
<div>
	<div class="container content parallax-about">
		<div class="title-box-v2">
			<h2>About our <span class="color-green">company</span></h2>
			<p class="justified">Our interdisciplinary team have backgrounds in conservation, archaeology, and computer science; later specialising in digital applications in the heritage field. We come to heritage first through the lens of our Traditional Skills, giving us a unique perspective and the ability to ask how <b class="color-green">Digital Heritage</b> can help us to manage, document, conserve, and preserve our <b class="color-green">Cultural Heritage</b>.</p>
		</div>

		<div class="row">
			<div class="col-md-8">
				<div class="banner-info dark margin-bottom-10">
					<i class="rounded-x fa fa-check-square-o"></i>
					<div class="overflow-h">
						<h3>What do we do?</h3>
						<p>We use <b class="color-green">traditional skills</b> and <b class="color-green">innovative techniques</b> to record, preserve, and disseminate cultural heritage.</p>
						<p>We provide specialist <b class="color-green">training</b> to <b class="color-green">share knowledge</b> with heritage professionals and community groups.</p>
					</div>
				</div>
				<div class="banner-info dark margin-bottom-10">
					<i class="rounded-x fa fa-globe"></i>
					<div class="overflow-h">
						<h3>What is our philosophy?</h3>
						<p>Technology should be at the <b class="color-green">service of heritage</b>, and not the other way around.</p>
						<p>We are committed to delivering the best services in conservation and digital heritage as outlined by internationally recognised <b class="color-green">standards</b>.</li>
						<p>We are <b class="color-green">passionate</b> about what we do, and we are constantly pushing ourselves to <b class="color-green">learn</b> new skills and <b class="color-green">improve</b> the ones we already have.</p>
						<p><b class="color-green">Empowering local communities</b> to take ownership of their local cultural heritage to ensure its long term preservation</p>
					</div>
				</div>
				<div class="banner-info dark margin-bottom-10">
					<i class="rounded-x fa fa-briefcase"></i>
					<div class="overflow-h">
						<h3>Why collaborate with us?</h3>
						<ul>
							<li>Our blend of skills gives us the ability to <b class="color-green">implement and create</b> new workflows to fulfil the needs of researchers and professionals in the heritage sector.</li>
							<li>As conservators, careful <b class="color-green">attention to detail</b>, ensuring the highest quality work that we can achieve.</li>
							<li>Our unique <b class="color-green">perspective</b> gives us the ability to record and query data, finding new solutions.</li>
						</ul>
					</div>
				</div>
				<div class="margin-bottom-20"></div>
			</div>
			<!-- <div class="col-md-4">
				<img class="img-responsive" src="assets/img/mockup/1.png" alt="">
			</div> -->
      <div class="col-md-4">
        <a class="twitter-timeline" href="https://twitter.com/SpectrumDH" data-height="350px">Tweets by SpectrumDH</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
		</div>
	</div><!--/container-->
</div>
<!--=== End Parallax About Block ===-->
