<div class="container content-sm">
<!-- Owl Clients v1 -->
<div class="headline"><h2>Our Clients</h2></div>
  <div class="owl-clients-v1">
  	<div class="item">
  		<img src="assets/img/clients/archaeologyscotland_logo.png" alt="Archaeology Scotland">
  	</div>
  	<div class="item">
  		<img src="assets/img/clients/ForthStone.png" alt="">
  	</div>
  	<div class="item">
  		<img src="assets/img/clients/logo-glasgow-university.png" alt="">
  	</div>
  	<div class="item">
  		<img src="assets/img/clients/tumblr_static_gsa_logo_black_medium.jpg" alt="">
  	</div>
  	<div class="item">
  		<img src="assets/img/clients/uoe_horizontal_logo_300.png" alt="">
  	</div>
  </div>
<!-- End Owl Clients v1 -->
</div><!--/container-->
