<!--=== Cube-Portfdlio ===-->
<div class="cube-portfolio">
	<div class="content-xs">
		<div id="filters-container" class="cbp-l-filters-text content-xs">
			<div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div> |
			<div data-filter=".identity" class="cbp-filter-item"> Identity </div> |
			<div data-filter=".web-design" class="cbp-filter-item"> Web Design </div> |
			<div data-filter=".graphic" class="cbp-filter-item"> Graphic </div> |
			<div data-filter=".logos" class="cbp-filter-item"> Logo </div>
		</div><!--/end Filters Container-->
	</div>

	<div id="grid-container" class="cbp-l-grid-fullWidth">
    {% include grid/image_1.html %}
    {% include grid/image_2.html %}
    {% include grid/image_3.html %}
    {% include grid/image_4.html %}
    {% include grid/image_5.html %}
    {% include grid/image_6.html %}
    {% include grid/image_7.html %}
    {% include grid/image_8.html %}
    {% include grid/image_9.html %}
    {% include grid/image_10.html %}
    {% include grid/image_11.html %}
    {% include grid/image_12.html %}
    {% include grid/image_13.html %}
    {% include grid/image_14.html %}
    {% include grid/image_15.html %}
    {% include grid/image_16.html %}
    {% include grid/image_17.html %}
    {% include grid/image_18.html %}
    {% include grid/image_19.html %}
    {% include grid/image_20.html %}
	</div><!--/end Grid Container-->
</div>
<!--=== End Cube-Portfdlio ===-->
