<!--=== Cube-Portfdlio ===-->
<div class="cube-portfolio">
	<div class="content-xs">
		<div id="filters-container" class="cbp-l-filters-text content-xs">
			<div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div> |
			<div data-filter=".conservation" class="cbp-filter-item"> Conservation </div> |
			<div data-filter=".heritage" class="cbp-filter-item"> Digital Heritage </div> |
			<div data-filter=".engagement" class="cbp-filter-item"> Training </div>
		</div><!--/end Filters Container-->
	</div>

	<div id="grid-container" class="cbp-l-grid-fullWidth">
		{% include grid/con_4.html %}
		{% include grid/dh_3.html %}
		{% include grid/dh_4.html %}
		{% include grid/dh_5.html %}
		{% include grid/dh_6.html %}
		{% include grid/con_1.html %}
		{% include grid/dh_1.html %}
		{% include grid/con_2.html %}
		{% include grid/con_3.html %}
		{% include grid/dh_2.html %}
		{% include grid/con_5.html %}
		{% include grid/eng_1.html %}
		{% include grid/dh_7.html %}
		{% include grid/con_6.html %}
		{% include grid/dh_8.html %}
		{% include grid/eng_2.html %}
		{% include grid/dh_9.html %}
		{% include grid/con_7.html %}
		{% include grid/eng_3.html %}
		{% include grid/con_8.html %}
	</div><!--/end Grid Container-->
</div>
<!--=== End Cube-Portfdlio ===-->
