<!--=== Cube-Portfdlio ===-->
<div class="cube-portfolio">
	<div class="content-xs">
		<div id="filters-container" class="cbp-l-filters-text content-xs">
			<div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div> |
			<div data-filter=".identity" class="cbp-filter-item"> Identity </div> |
			<div data-filter=".web-design" class="cbp-filter-item"> Web Design </div> |
			<div data-filter=".graphic" class="cbp-filter-item"> Graphic </div> |
			<div data-filter=".logos" class="cbp-filter-item"> Logo </div>
		</div><!--/end Filters Container-->
	</div>

	<div id="grid-container" class="cbp-l-grid-fullWidth">
		<div class="cbp-item graphic">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="assets/img/main/img7.jpg" alt="">
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<ul class="link-captions">
								<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
								<li><a href="assets/img/main/img7.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
							</ul>
							<div class="cbp-l-grid-agency-title">Design Object 01</div>
							<div class="cbp-l-grid-agency-desc">Web Design</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cbp-item web-design logos">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="assets/img/main/img3.jpg" alt="">
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<ul class="link-captions">
								<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
								<li><a href="assets/img/main/img3.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
							</ul>
							<div class="cbp-l-grid-agency-title">Design Object 02</div>
							<div class="cbp-l-grid-agency-desc">Web Design</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cbp-item graphic logos">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="assets/img/main/img9.jpg" alt="">
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<ul class="link-captions">
								<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
								<li><a href="assets/img/main/img9.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
							</ul>
							<div class="cbp-l-grid-agency-title">Design Object 03</div>
							<div class="cbp-l-grid-agency-desc">Web Design</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cbp-item web-design graphic">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="assets/img/main/img20.jpg" alt="">
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<ul class="link-captions">
								<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
								<li><a href="assets/img/main/img20.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
							</ul>
							<div class="cbp-l-grid-agency-title">Design Object 04</div>
							<div class="cbp-l-grid-agency-desc">Web Design</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cbp-item identity web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="assets/img/main/img12.jpg" alt="">
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<ul class="link-captions">
								<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
								<li><a href="assets/img/main/img12.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
							</ul>
							<div class="cbp-l-grid-agency-title">Design Object 05</div>
							<div class="cbp-l-grid-agency-desc">Web Design</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cbp-item identity web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="assets/img/main/img2.jpg" alt="">
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<ul class="link-captions">
								<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
								<li><a href="assets/img/main/img2.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
							</ul>
							<div class="cbp-l-grid-agency-title">Design Object 06</div>
							<div class="cbp-l-grid-agency-desc">Web Design</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cbp-item web-design identity">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="assets/img/main/img6.jpg" alt="">
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<ul class="link-captions">
								<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
								<li><a href="assets/img/main/img6.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
							</ul>
							<div class="cbp-l-grid-agency-title">Design Object 07</div>
							<div class="cbp-l-grid-agency-desc">Web Design</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cbp-item identity logo">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="assets/img/main/img4.jpg" alt="">
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<ul class="link-captions">
								<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
								<li><a href="assets/img/main/img4.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
							</ul>
							<div class="cbp-l-grid-agency-title">Design Object 08</div>
							<div class="cbp-l-grid-agency-desc">Web Design</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cbp-item graphic">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="assets/img/main/img5.jpg" alt="">
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<ul class="link-captions">
								<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
								<li><a href="assets/img/main/img5.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
							</ul>
							<div class="cbp-l-grid-agency-title">Design Object 09</div>
							<div class="cbp-l-grid-agency-desc">Web Design</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cbp-item web-design logos">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="assets/img/main/img19.jpg" alt="">
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<ul class="link-captions">
								<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
								<li><a href="assets/img/main/img19.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
							</ul>
							<div class="cbp-l-grid-agency-title">Design Object 10</div>
							<div class="cbp-l-grid-agency-desc">Web Design</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cbp-item graphic logos">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="assets/img/main/img26.jpg" alt="">
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<ul class="link-captions">
								<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
								<li><a href="assets/img/main/img26.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
							</ul>
							<div class="cbp-l-grid-agency-title">Design Object 11</div>
							<div class="cbp-l-grid-agency-desc">Web Design</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cbp-item web-design graphic">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="assets/img/main/img17.jpg" alt="">
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<ul class="link-captions">
								<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
								<li><a href="assets/img/main/img17.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
							</ul>
							<div class="cbp-l-grid-agency-title">Design Object 12</div>
							<div class="cbp-l-grid-agency-desc">Web Design</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cbp-item identity web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="assets/img/main/img22.jpg" alt="">
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<ul class="link-captions">
								<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
								<li><a href="assets/img/main/img22.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
							</ul>
							<div class="cbp-l-grid-agency-title">Design Object 13</div>
							<div class="cbp-l-grid-agency-desc">Web Design</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cbp-item web-design identity">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="assets/img/main/img18.jpg" alt="">
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<ul class="link-captions">
								<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
								<li><a href="assets/img/main/img18.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
							</ul>
							<div class="cbp-l-grid-agency-title">Design Object 14</div>
							<div class="cbp-l-grid-agency-desc">Web Design</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cbp-item identity logo">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="assets/img/main/img4.jpg" alt="">
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<ul class="link-captions">
								<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
								<li><a href="assets/img/main/img4.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
							</ul>
							<div class="cbp-l-grid-agency-title">Design Object 15</div>
							<div class="cbp-l-grid-agency-desc">Web Design</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!--/end Grid Container-->
</div>
<!--=== End Cube-Portfdlio ===-->
