<div class="container content-sm">
  <div class="headline-center margin-bottom-60">
    <h2>Our Work</h2>
    <p>Integer odio ligula, tincidunt id volutpat et, imperdiet eget mi. Quisque laoreet porttitor turpis sed <a href="#">fermentum</a>. Nullam sodales blandit nisi, tristique tempor nunc hendrerit at. Sed posuere mollis orci</p>
  </div><!--/end Headline Center-->

  <!-- Portfolio Box -->
  <ul class="list-unstyled row portfolio-box">
    <li class="col-sm-4 md-margin-bottom-50">
      <a class="thumbnail fancybox" data-rel="gallery" title="Project One" href="assets/img/main/img9.jpg">
        <img class="full-width img-responsive" src="assets/img/main/img9.jpg" alt="">
        <span class="portfolio-box-in rounded-x">
          <i class="icon-magnifier-add"></i>
        </span>
      </a>
      <div class="headline-left margin-bottom-10"><h3 class="headline-brd">Project One</h3></div>
      <small class="project-tag"><i class="fa fa-tag"></i><a href="#">Technology</a>, <a href="#">Business</a></small>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet </p>
    </li>
    <li class="col-sm-4 md-margin-bottom-50">
      <a class="thumbnail fancybox" data-rel="gallery" title="Project Two" href="assets/img/main/img22.jpg">
        <img class="full-width img-responsive" src="assets/img/main/img22.jpg" alt="">
        <span class="portfolio-box-in rounded-x">
          <i class="icon-magnifier-add"></i>
        </span>
      </a>
      <div class="headline-left margin-bottom-10"><h3 class="headline-brd">Project Two</h3></div>
      <small class="project-tag"><i class="fa fa-tag"></i><a href="#">Technology</a>, <a href="#">Business</a></small>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet </p>
    </li>
    <li class="col-sm-4">
      <a class="thumbnail fancybox" data-rel="gallery" title="Project Three" href="assets/img/main/img18.jpg">
        <img class="full-width img-responsive" src="assets/img/main/img18.jpg" alt="">
        <span class="portfolio-box-in rounded-x">
          <i class="icon-magnifier-add"></i>
        </span>
      </a>
      <div class="headline-left margin-bottom-10"><h3 class="headline-brd">Project Three</h3></div>
      <small class="project-tag"><i class="fa fa-tag"></i><a href="#">Technology</a>, <a href="#">Business</a></small>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet </p>
    </li>
  </ul>
  <!-- End Portfolio Box -->
</div><!--/end container-->
