<!--=== Title v1 ===-->
<div class="container content-sm">
	<div class="title-v1 no-margin-bottom">
		<p class="no-margin-bottom">
			Spectrum Heritage is an interdisciplinary team dedicated to the preservation of cultural heritage.
		</p>
	</div>
</div>
	<!--=== End Title v1 ===-->

	<!--=== Service Block v4 ===-->
	<div class="service-block-v4">
		<div class="container content-sm">
			<div class="row">
				<div class="col-md-4 service-desc">
          <img class="image-md margin-bottom-20" src="assets/img/icons/home/conservation.png" alt="">
					<h3>Conservation</h3>
				</div>
				<div class="col-md-4 service-desc">
          <img class="image-md margin-bottom-20" src="assets/img/icons/home/digital_heritage.png" alt="">
					<h3>Digital Heritage</h3>
				</div>
				<div class="col-md-4 service-desc">
          <img class="image-md margin-bottom-20" src="assets/img/icons/home/training.png" alt="">
					<h3>Training</h3>
				</div>
			</div><!--/end row-->
		</div><!--/end container-->
	</div>
	<!--=== End Service Block v4 ===-->
