<!--=== Service Blcoks ===-->
<div class="container content-sm">
  <div class="text-center margin-bottom-50">
    <h2 class="title-v2 title-center">OUR SERVICES</h2>
  </div>

  <!-- Service Blcoks -->
  <div class="row service-box-v1 margin-bottom-40">
    <div class="col-md-4 col-sm-6 md-margin-bottom-40">
      <div class="service-block service-block-default no-margin-bottom">
        <h2 class="heading-sm">Conservation</h2>
        <p></p>
        <ul class="list-unstyled">
          <li>Stone</li>
          <li>Metalwork</li>
          <li>Gilded and polychrome surfaces</li>
          <li>Stained Glass</li>
          <li>Lime and plasterwork</li>
          <li>Terracotta</li>
          <li>Wood and bone</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 md-margin-bottom-40">
      <div class="service-block service-block-default no-margin-bottom">
        <h2 class="heading-sm">Digital Documentation</h2>
        <p></p>
        <ul class="list-unstyled">
          <li>Laser scanning</li>
          <li>Photogrammetry</li>
          <li>Technical photography</li>
          <li>Multispectral imaging</li>
          <li>Reflectance Transformation Imaging</li>
          <li>Virtual reconstructions</li>
          <li>360 Panoramas</li>
          <li>CAD drawings</li>
          <li>Virtual interactive environments</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="service-block service-block-default no-margin-bottom">
        <h2 class="heading-sm">Consultancy Services</h2>
        <p></p>
        <ul class="list-unstyled">
          <li>Conservation Assessment Reports</li>
          <li>Full condition surveys with recommendations for works</li>
          <li>Conservation research, trials, and analysis</li>
          <li>Conservation Reports documenting works conducted</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Service Blcoks -->
